.booking-container {
    padding: 15px;
    width: 70%;
    .top-section {
        .rate {
            display: flex;
            margin-left: -5px;
            margin-top: 5px;
        }

        border-bottom: 1px solid #ddd;
        margin-bottom: 15px;
    }
    .end-section {
        .date {
            margin-bottom: 10px;
        }
    }
}