<div class="setup-home-container">
  <app-setup-home-steps [steps]="steps" [(selectedIndex)]="selectedStep"></app-setup-home-steps>
  <div class="fill-information-container">
    <div class="place-information" *ngIf="selectedStep === 0">
      <form action="">
        <h2>What kind of place are you listing?</h2>
        <mat-form-field class="full-width">
          <mat-select placeholder="What will guests have?">
            <mat-option value="1">
              Private room
            </mat-option>
            <mat-option value="2">
              Shared room
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
          <input type="number" matInput placeholder="How many number of guests">
        </mat-form-field>
        <button class="right" mat-raised-button color="warn">Next</button>
      </form>
    </div>
    <div class="location-information" *ngIf="selectedStep === 1">
      <form action="">
        <h2>Where your place location?</h2>
        <div class="ui grid">
          <div class="ten wide column">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Street address">
            </mat-form-field>
          </div>
          <div class="six wide column">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Apt #">
            </mat-form-field>
          </div>
        </div>
        <div class="ui grid">
          <div class="eight wide column">
            <mat-form-field class="full-width">
              <mat-select placeholder="State">
                <mat-option value="1">
                  Private room
                </mat-option>
                <mat-option value="2">
                  Shared room
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="eight wide column">
            <mat-form-field class="full-width">
              <mat-select placeholder="Country">
                <mat-option value="1">
                  Private room
                </mat-option>
                <mat-option value="2">
                  Shared room
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <br>
        <button class="right" mat-raised-button color="warn">Next</button>
      </form>
    </div>
    <div class="features-information" *ngIf="selectedStep === 2"></div>
    <div class="price-information" *ngIf="selectedStep === 3"></div>
    <div class="senses-information" *ngIf="selectedStep === 4"></div>
  </div>
</div>