.setup-home-container {
    height: 100%;
}

.fill-information-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-information form button, .location-information form button,
.features-information form button,  .price-information form button {
    margin-top: 50px;
}

.place-information, .price-information {
    height: 50%;
    width: 30%;
    margin-top: -10rem;
    text-align: center;
}

.location-information {
    height: 50%;
    width: 50%;
    margin-top: -10rem;
    text-align: center;
}

.features-information {
    height: 50%;
    width: 25%;
    margin-top: -10rem;
    text-align: center;
}

.senses-information {
    height: 50%;
    width: 50%;
    margin-top: -10rem;
    text-align: center;
}

.senses-information button.submit {
    margin-top: 50px;
}

.features-information .feature-list {
    margin-top: 30px;
}

.features-information .feature-list .ui.grid {
    margin-bottom: 15px;
}