/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    overflow: hidden
}

h1, h2, h3, h4, h5, span, strong, div, a, button {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

span, strong, div, a, button {
    font-size: 15px;
}

.full-width {
    width: 100%;
}

.right {
    float: right;
}