<div class="page-layout carded fullwidth ps" fuseperfectscrollbar="" id="product">
  <div class="image-container">
    <span>
      <img class="hide" src="https://a0.muscache.com/im/pictures/881d76c6-4de6-4808-9f0b-36462b6c48a2.jpg?aki_policy=large" width="0">
    </span>
  </div>
  <div class="info-container">
    <div class="ui grid detail-section">
      <div class="eight wide column">
        <div class="menu-list">
          <ul>
            <li class="selected">
              <a href="#overview">Overview</a>
            </li>
            <li>
              <a href="#history">History</a>
            </li>
            <li>
              <a href="#status">Status</a>
            </li>
          </ul>
        </div>
        <div class="overview-container" id="#overview">
          <div class="header">
            <h1>{{home.name}}</h1>
          </div>
          <div class="summarize">
            <ul>
              <li>
                <i class="users icon"></i> {{home.capacity.guest}} {{home.capacity.guest > 1 ? 'guests' : 'guest'}}</li>
              <li>
                <i class="building icon"></i> {{home.capacity.bedroom}} bedroom</li>
              <li>
                <i class="hotel icon"></i> {{home.capacity.bed}} bed</li>
              <li>
                <i class="bathtub icon"></i> {{home.capacity.bath}} bath</li>
            </ul>
          </div>
          <div class="description">
            <span>
              {{home.description}}
            </span>
          </div>
          <div class="features">
            <div class="header">
              <h4>Amenities</h4>
            </div>
            <div class="feature" *ngIf="home.feature.internet">
              <span>Internet</span>
            </div>
            <div class="feature" *ngIf="home.feature.kitchen">
              <span>Kitchen</span>
            </div>
            <div class="feature" *ngIf="home.feature.hanger">
              <span>Hanger</span>
            </div>
            <div class="feature" *ngIf="home.feature.iron">
              <span>Iron</span>
            </div>
          </div>
        </div>
        <div class="history-container" id="#history"></div>
        <div class="status-container" id="#status"></div>
      </div>
      <div class="eight wide column">
        <app-booking [home]="home"></app-booking>
      </div>
    </div>
  </div>
</div>