<div class="page-layout carded fullwidth ps" fuseperfectscrollbar="" id="product">
  <div class="image-container">
    <span>
      <img class="hide" src="https://a0.muscache.com/im/pictures/881d76c6-4de6-4808-9f0b-36462b6c48a2.jpg?aki_policy=large" width="0">
    </span>
  </div>
  <div class="info-container">
    <div class="ui grid detail-section">
      <div class="eight wide column">
        <div class="menu-list">
          <ul>
            <li class="selected">
              <a href="#overview">Overview</a>
            </li>
            <li>
              <a href="#history">History</a>
            </li>
            <li>
              <a href="#location">Location</a>
            </li>
          </ul>
        </div>
        <div class="overview-container" id="#overview">
          <div class="header">
            <h1>SUNSET CAVE HOUSE IN OIA</h1>
          </div>
          <div class="summarize">
            <ul>
              <li>
                <i class="users icon"></i> 3 guests</li>
              <li>
                <i class="building icon"></i> 1 bedroom</li>
              <li>
                <i class="hotel icon"></i> 1 bed</li>
              <li>
                <i class="bathtub icon"></i> 1 bath</li>
            </ul>
          </div>
          <div class="description">
            <span>
              The Sunset Cave,located in a premium spot right on the cliff on the Caldera in Oia village,carefully & tastefully restored
              offering a unique experience of Greek summer style accommodation!

              The Sunset Cave,located in a premium spot right on the cliff on the Caldera in Oia village,carefully & tastefully restored
              offering a unique experience of Greek summer style accommodation!

              The Sunset Cave,located in a premium spot right on the cliff on the Caldera in Oia village,carefully & tastefully restored
              offering a unique experience of Greek summer style accommodation!
            </span>
          </div>
          <div class="features">
            <div class="header">
              <h4>Amenities</h4>
            </div>
            <div class="feature">
              <i></i>
              <span>Internet</span>
            </div>
            <div class="feature">
              <i></i>
              <span>Kitchen</span>
            </div>
            <div class="feature">
              <i></i>
              <span>Hanger</span>
            </div>
            <div class="feature">
              <i></i>
              <span>Iron</span>
            </div>

          </div>
          <div class="senses"></div>
        </div>
        <div class="history-container" id="#history"></div>
        <div class="location-container" id="#location"></div>
      </div>
      <div class="eight wide column">
        <app-booking></app-booking>
      </div>
    </div>
  </div>
</div>