<div class="consumer-container">
  <div class="nav-bar ui grid">
    <div class="two wide column" style="display: flex; align-items: center;">
      <strong style="font-size:16px;">Anywhere</strong>
    </div>
    <div class="fourteen wide column">
      <nav>
        <ul class="menu-list" style="display: flex; justify-content: flex-end;">
          <li class="item">
            <a routerLink="/app/home/new">Become a host</a>
          </li>
          <li class="item">
            <a routerLink="/login">Log in</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="search-container">
    <div class="container">
      <div class="introduce">
        <h4>Book any home you like and</h4>
        <h4>enjoy like your house...</h4>
      </div>
      <div class="ui icon input">
        <input type="text" placeholder='Try "Ho Chi Minh city"' (keyup.enter)="onSearch()" [(ngModel)]="key">
        <i class="search icon" (click)="onSearch()"></i>
      </div>
    </div>
  </div>
</div>